<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<!--/*@thymesVar id="ingredientDto" type="guru.springframework.datatransferobjects.IngredientDto"*/-->
<!--/*@thymesVar id="uomDtoList" type="java.util.List<guru.springframework.datatransferobjects.UnitOfMeasureDto>"*/-->
<title>Ingredient Form</title>

<!-- BOOTSTRAP CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" crossorigin="anonymous" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}">

<!-- BOOTSTRAP JavaScript(s) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous" th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" crossorigin="anonymous" th:src="@{/webjars/popper.js/1.14.6/popper.min.js}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
	<div class="container-fluid" style="margin-top: 20px">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form method="post" th:object="${ingredientDto}" th:action="@{'/recipe/' + ${ingredientDto.getRecipeId()} + '/ingredient/saveOrUpdate'}">
					<input type="hidden" th:field="*{id}" />
					<!-- <div class="panel-group"> -->
					<div class="card">
						<div class="card-header bg-primary text-light">
							<h1 class="card-title">Edit Ingredient Information</h1>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-3 form-group">
									<label>Description:</label> <input type="text" class="form-control" th:field="*{description}" />
								</div>
								<div class="col-md-3 form-group">
									<label>Amount:</label> <input type="text" class="form-control" th:field="*{amount}" />
								</div>
								<div class="col-md-3 form-group">
									<label>Unit-Of-Measure:</label> <select class="form-control" name="unitOfMeasure.id">
										<option th:each="currUomDto : ${uomDtoList}" th:value="${currUomDto.id}" th:selected="${currUomDto.id.equals(ingredientDto.unitOfMeasure.id)}" th:text="${currUomDto.description}">Piece</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
					<!-- </div> -->
				</form>
			</div>
		</div>
	</div>
</body>

</html>