<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Recipe Home</title>

<!-- BOOTSTRAP CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

	<div class="container-fluid" style="margin-top: 20px;">
		<div class="row justify-content-center">
			<div class="col-10 col-lg-6">
				<div class="card">
					<div class="card-header bg-primary text-light">
						<h1 class="card-title" th:text="'My Recipes!'">Recipe Home</h1>
					</div>

					<div class="card-body">
						<div class="table-responsive" th:if="${not #lists.isEmpty(recipesList)}">
							<table class="table table-hover">
								<thead class="thead-inverse-dark">
									<tr>
										<th>ID</th>
										<th>Description</th>
									</tr>
								</thead>
								<tbody>
									<tr th:remove="all">
										<td>123</td>
										<td>Tasty Goodness #1</td>
									</tr>
									<tr th:remove="all">
										<td>456</td>
										<td>Tasty Goodness #2</td>
									</tr>
									<tr th:each="currRecipe : ${recipesList}">
										<td th:text="${currRecipe.id}">789</td>
										<td th:text="${currRecipe.description}">Tasty Goodness #3</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--
	<ul>
		<li th:each="currRecipe : ${recipesList}">
			<table>
				<thead>
					<tr>
						<th colspan="2" th:text="${currRecipe.description}">Recipe Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Source:</td>
						<td th:utext="'<a href=&quot;' + ${currRecipe.url} + '&quot;>' + ${currRecipe.source} + ':&nbsp;' + ${currRecipe.url} + '</a>'">Source-Link</td>
					</tr>
					<tr>
						<td>Difficulty:</td>
						<td th:text="${currRecipe.difficulty}">Difficulty-Level</td>
					</tr>
					<tr>
						<td>Ingredients:</td>
						<td>
							<ul>
								<li th:each="currIngredient : ${currRecipe.ingredients}"><span
									th:text="${currIngredient.amount} + '&nbsp;' + ${currIngredient.unitOfMeasure.description} + '&nbsp;' + ${currIngredient.description}">Ingredient</span></li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</li>
	</ul>
	-->
</body>

</html>