<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Recipe Home</title>

<!-- BOOTSTRAP CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" crossorigin="anonymous" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}">

<!-- BOOTSTRAP JavaScript(s) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous" th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" crossorigin="anonymous" th:src="@{/webjars/popper.js/1.14.6/popper.min.js}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
	<!--/*@thymesVar id="recipesList" type="java.util.List"*/-->
	<!--/*@thymesVar id="currRecipe" type="guru.springframework.domain.Recipe"*/-->
	<div class="container-fluid" style="margin-top: 20px;">
		<div class="row justify-content-center">
			<div class="col-10 col-lg-6">
				<div class="card">
					<div class="card-header bg-primary text-light">
						<h1 class="card-title" th:text="'My Recipes!'">Recipe Home</h1>
					</div>

					<div class="card-body">
						<div class="table-responsive" th:if="${not #lists.isEmpty(recipesList)}">
							<table class="table table-hover">
								<thead class="thead-inverse-dark">
									<tr>
										<th>ID</th>
										<th>Description</th>
										<th>View-Link</th>
										<th>Edit-Link</th>
									</tr>
								</thead>
								<tbody>
									<tr th:remove="all">
										<td>123</td>
										<td>Tasty Goodness #1</td>
										<td><a href="https://www.google.com/?123&show">View</a></td>
										<td><a href="https://www.google.com/?123&edit">Edit</a></td>
									</tr>
									<tr th:remove="all">
										<td>456</td>
										<td>Tasty Goodness #2</td>
										<td><a href="https://www.google.com/?456&show">View</a></td>
										<td><a href="https://www.google.com/?456&edit">Edit</a></td>
									</tr>
									<tr th:each="currRecipe : ${recipesList}">
										<td th:text="${currRecipe.id}">789</td>
										<td th:text="${currRecipe.description}">Tasty Goodness #3</td>
										<td><a href="#" th:href="@{'/recipe/' + ${currRecipe.id} + '/show'}">View</a></td>
										<td><a href="#" th:href="@{'/recipe/' + ${currRecipe.id} + '/update'}">Edit</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--
	<ul>
		<li th:each="currRecipe : ${recipesList}">
			<table>
				<thead>
					<tr>
						<th colspan="2" th:text="${currRecipe.description}">Recipe Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Source:</td>
						<td th:utext="'<a href=&quot;' + ${currRecipe.url} + '&quot;>' + ${currRecipe.source} + ':&nbsp;' + ${currRecipe.url} + '</a>'">Source-Link</td>
					</tr>
					<tr>
						<td>Difficulty:</td>
						<td th:text="${currRecipe.difficulty}">Difficulty-Level</td>
					</tr>
					<tr>
						<td>Ingredients:</td>
						<td>
							<ul>
								<li th:each="currIngredient : ${currRecipe.ingredients}"><span
									th:text="${currIngredient.amount} + '&nbsp;' + ${currIngredient.unitOfMeasure.description} + '&nbsp;' + ${currIngredient.description}">Ingredient</span></li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</li>
	</ul>
	-->
</body>

</html>